# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

*.lnk

# Python cache files generated when running Blender
# -------------------------------------------------
*__pycache__*

/fritzi-toolbox-updater/